<h1>Lists<h2>
<table>
<p><%= link_to "New List", new_list_path %></p><br>



<% @lists.each do |l| %>
    <tr>
    <p>
    <%= link_to "#{l.name}", list_path(l) %>
    <p>Category: <%= l.category.name %></p>
    <p>Description: <%= l.description %></p>
    <%= link_to "Delete List", l, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p><br><br>
    </tr>
</table>
<% end %>