<h1>Create List</h1>

<%= form_for @lists do |f| %>
    <p>
    <%= f.label :user_id %><br>
    <%= f.text_field @user.id %>
    </p>

    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
    </p>
    <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    </p>
<p>
  <%= f.submit %>
</p>

<% end %>