<h3>Add Item</h3>
<%= form_for @item do |f| %>
    <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <%= f.label :checked_off %>
    <%= f.check_box :checked_off %>
    </p>
<p>
<%= f.submit %>
</p>
<% end %>