<!DOCTYPE html>
<html>
  <head>
    <title>ListProject</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if false %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

  </head>

  <body>
  <% if user_signed_in? %>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">List Builder</a>
      <form class="form-inline">
        <a class="btn btn-outline-primary" href="\lists" role="button">
        Lists
        </a>
        <div style="padding-left: 10px;">
        <a class="btn btn-outline-success" role="button"<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </a>
        </div>
      </form>
    </nav>
    <% else %>
      <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">List Builder</a>
      <form class="form-inline">
        <a class="btn btn-outline-primary" href="\users\sign_in" role="button">
        Login
        </a>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="\users\sign_up" role="button">
          Sign Up
          </a>
        </div>
        <div style="padding-left: 10px;">
        <a class="btn btn-outline-success" role="button"<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </a>
        </div>
      </form>
    </nav>
    <% end %>


    <%= yield %>
  </body>
</html>
